<div class="window hidden" id="todoWindow">
    <div class="title-bar">
        <div class="title-bar-text">To Do</div>
            <div class="title-bar-controls">
            <button onclick="reset()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <ul class="tree-view">
            <li>Improve UI/UX
                <ul>
                    <li><del>Add loading/progress bars</del></li>
                    <li><del>Make it look more like Windows 98 (retro)</del></li>
                    <li><del>Add fun decorations like Win98 desktop</del></li>
                    <li><del>Draggable windows!</del></li>
                    <li>Improve user flow</li>
                </ul>
            </li>
            <li>
                Customizable options
                <ul>
                    <li>Add options for output resolution</li>
                    <li>Add other film stocks</li>
                    <li>Add togglable options</li>
                    <li>Add fun effects
                        <ul>
                            <li>Light leaks</li>
                            <li>Scratches</li>
                            <li>Grain</li>
                            <li>Dusts</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>Improve performance
                <ul>
                    <li>Make this run faster</li>
                    <li>Clean up code</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
