<div class="ui-desktop" style="left: 0; top: 0;">
    <div class="recycle-bin ui-icon">
        <div class="ui-icon-container">
            <img width="32" height="32" src="img/recycle_bin_empty_cool-5.png">
            <span style="color:white;">Recycle Bin</span>
        </div>
    </div>
    <div class="recycle-bin ui-icon">
        <div class="ui-icon-container">
            <img width="32" height="32" src="img/computer_explorer_cool-5.png">
            <span style="color:white;">Computer</span>
        </div>
    </div>
    <div class="recycle-bin ui-icon">
        <div class="ui-icon-container">
            <img width="32" height="32" src="img/directory_closed-3.png">
            <span style="color:white;">Documents</span>
        </div>
    </div>
    <div class="recycle-bin ui-icon">
        <div class="ui-icon-container">
            <a href="https://muchen.ca">
                <img width="32" height="32" src="img/html2-1.png">
                <span style="color:white;">muchen.ca</span>
            </a>
        </div>
    </div>		
</div>

<div class="ui-desktop" style="left:256px; top:128px;">
    <div class="recycle-bin ui-icon">
        <div class="ui-icon-container">
            <img width="32" height="32" src="img/sc3k.png">
            <span style="color:white;">SimCity 3000</span>
        </div>
    </div>
</div>