<div class="start-bar">
    <a href="https://alexmeub.com/old-windows-icons/" title="Start Menu" class="button start-button-wrapper js-start-button" target="_blank" style="background-image: url(img/start-button.png); background-repeat: no-repeat; width: 45px; height: 14px;">
        <div class="start-button"></div>
    </a>
    <img class="start-bar-icon mr-2 ml-2" src="img/desktop_old-1.png" alt="">
    <img class="start-bar-icon mr-2" src="img/msie2-1.png" "alt="">

    <span class="start-bar-window mx-1">
        <img class="start-bar-icon mr-2" src="img/msie2-1.png" alt="">Internet Explorer
    </span>

    <span class="start-bar-window active mx-1">
        <img class="start-bar-icon mr-2" src="img/kodak_imaging-1.png" alt="">ContactSheet Generator v0.1
    </span>

</div>